/* #292929 - #B4AEA7 - #B0815F 
?   #B4AEA7 L GREY  
?   #BD871F  RUSTY ORANGE
?   #FFF7E8 CREAM
?   #A3927C  Brown

font-family: 'Fira Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Mandali', sans-serif;
*/

/*-------- GLOBAL STYLES ---------*/
html {
  font-size: 62.5%;
}

/* Used to discover why I had Horizontal scrolling on mobile view.
  Turns out it was large H2 font size.
  
  *, ::before, ::after {
    outline:2px solid red;
  }*/

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  text-align: left;
  margin: 0%;
  background-color: #292929;
  font-family: "Mandali", sans-serif;
  color: #b4aea7;
}

section {
  position: relative;
  max-width: 100vw;
  margin: auto;
}

.divider {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 2px solid #bd871f;
  width: 50%;
}
.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 10vh 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins";
  font-weight: 300;
  margin: 0;
}

h1 {
  font-size: 4.5rem;
  line-height: 5.5rem;
  letter-spacing: 0.1rem;
}

h2 {
  font-size: 3.2rem;
  line-height: 4.2rem;
  margin: 0;
}

h3 {
  font-size: 2rem;
  line-height: 3rem;
}

a {
  color: #b4aea7;
  font-family: "Mandali", sans-serif;
  text-decoration: none;
  margin: 0;
  font-size: 1.8rem;
}
a:hover {
  color: #bd871f;
  /* text-decoration: underline; */
  font-weight: 400;
}

.body-links {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

/* ================  HEADER MOBILE SECTION =================== */

header {
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  width: 100%;
  background-color: rgba(41, 41, 41, 0.8);
  z-index: 10;
}

header img {
  width: 20vw;
}

.top-nav {
  display: flex;
  align-self: center;
  flex-direction: column;
  z-index: 20;
  width: 100%;
  text-align: right;
  padding-right: 40px;
  color: white;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
}

/*
nav ul li {
  padding: 8px 0;
} */

nav ul li a {
  color: #b4aea7;
}

.show-items {
  display: flex;
  flex-direction: column;
}

nav .fa {
  font-size: 2rem;
  color: b4aea7;
  margin-top: 13px;
}

header a.button {
  display: none;
}

/*  ================    MOBILE - HERO     ==================== */

.hero {
  display: flex;
  background-image: url("images/Dunlop Main Dark.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100svh;
}

.hero::after {
  content: "";
  background: rgba(29, 29, 29, 0.292);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.hero > * {
  z-index: 10;
}

.hero .container {
  display: flex;
  align-items: center;
}

/*  ================    MOBILE - FEATURES     ==================== */

.features .container {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

/*  ================    MOBILE - ABOUT     ==================== */

.about-1 {
  padding-bottom: 0;
}

.about img {
  width: 100%;
}

.about a {
  font-size: 2.4rem;
  display: inline;
}

.about a:hover {
  color: #bd871f;
  /*  text-decoration: underline; */
  font-weight: 400;
}

.about h3 {
  line-height: 1rem;
}

/*  ================    MOBILE - CTA     ==================== */

.cta .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a.cta {
  font-size: 2.4rem;
  line-height: 1rem;
  color: #b4aea7;
  border: 2px solid #bd871f;
  padding: 16px 24px;
  border-radius: 8px;
  margin-top: 50px;
}

.cta a:hover {
  color: #bd871f;
  border: 2px solid #b4aea7;
  font-weight: 400;
}

/*  ================    MOBILE - FOOTER     ==================== */

footer .container {
  padding-bottom: 10px;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/*
footer a {
  text-transform: initial;
  text-decoration: underline;
} */

footer a:hover {
  color: #bd871f;
  font-weight: 400;
}

footer a {
  line-height: 1rem;
}

footer img {
  width: 150px;
  margin-left: -16px;
  padding: 3% 0;
}

.copyright {
  border-top: 1px solid #b4aea7;
}

.copyright p {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 200;
}

/*  ***** START OF DESKTOP SECTIONS *****  */

/* Large devices (desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  section {
    width: 100%;
  }

  .divider {
    width: 33%;
  }

  .container {
    padding: 12vh 0;
  }


  /* ================  DESKTOP - HEADER SECTION =================== */

  header {
    align-items: center;
    justify-content: space-between;
  }

  header img {
    width: 150px;
    margin-left: 3%;
  }

  .top-nav {
    width: auto;
    padding-right: 0;
    margin-right: 8%;
  }

  nav .toggle {
    display: none;
  }

  #nav-items {
    display: flex;
    gap: 40px;
  }

  /* ================  DESKTOP - HERO SECTION =================== */

  .container {
    max-width: 1200px;
  }

  h1 {
    width: 80%;
    font-size: 9.8rem;
    line-height: 12rem;
  }

  /* ================  DESKTOP - FEATURES SECTION =================== */

  .features .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  h2 {
    font-size: 6.5rem;
    line-height: 8rem;
    width: 50%;
  }

  .features img {
    width: 40%;
    margin: 0;
  }

  /* ================  DESKTOP - ABOUT SECTION =================== */

  .about-1 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12vh;
    padding-bottom: 0;
  }

  .about-2 {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    padding-top: 0;
  }

  .about img {
    width: 60%;
    margin: 0;

  }

  .body-links {
    justify-content: flex-end;
    margin-left: 40px;
  }

  .about a {
    font-size: 3.5rem;
  }

  /* ================  DESKTOP - CTA SECTION =================== */

  .cta .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .cta h3 {
    font-size: 4rem;
    line-height: 5.2rem;
    width: 60%;
  }

  /* ================  DESKTOP - FOTER SECTION =================== */

  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  footer img {
    width: 250px;
  }

  .copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }

  .territory {
    width: 50%;
  }
}
