/* #292929 - #B4AEA7 - #B0815F 
?   #B4AEA7 L GREY  
?   #BD871F  RUSTY ORANGE
?   #FFF7E8 CREAM
?   #A3927C  Brown

font-family: 'Poppins', sans-serif;
font-family: 'Mandali', sans-serif;
*/

/*-------- GLOBAL STYLES ---------*/
html {
  font-size: 62.5%;
}

/* Used to discover why I had Horizontal scrolling on mobile view.
  Turns out it was large H2 font size.
  
  *, ::before, ::after {
    outline:2px solid red;
  }*/

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  text-align: left;
  margin: 0%;
  background-color: #292929;
  font-family: "Mandali", sans-serif;
  color: #b4aea7;
}

section {
  position: relative;
  max-width: 100vw;
  margin: auto;
}

.divider {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 2px solid #bd871f;
  width: 50%;
}
.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 10vh 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins";
  font-weight: 300;
  margin: 0;
}

h1 {
  font-size: 4.5rem;
  line-height: 5.5rem;
  letter-spacing: 0.1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 9vh;
  margin-bottom: -10vh;
}

h1.title {
  font-size: 6rem;
  margin: 5vh 0 10vh 0;
  position: initial;
}

h2 {
  font-size: 3.2rem;
  line-height: 3.6rem;
  margin: 0;
}

h3 {
  font-size: 2.4rem;
}

p {
  line-height: 2.4rem;
}

a {
  color: #b4aea7;
  font-family: "Mandali", sans-serif;
  text-decoration: none;
  margin: 0;
  font-size: 1.8rem;
  transition-property: color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in;
}

.body-links {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

iframe {
  width: 100%;
  filter: grayscale(90%);
}

/* ============ GLOBAL CHANGES DESKTOP ==================== */
@media only screen and (min-width: 1200px) {
  h1.title {
    font-size: 13rem;
  }

  h3 {
    font-size: 4rem;
  }

  P {
    font-size: 2.4rem;
  }
}
/* ================  HEADER SECTION HOME PAGE MOBILE =================== */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  width: 100%;
  background-color: rgba(41, 41, 41, 0.8);
  z-index: 20;
  box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;
}

header img {
  width: 15vh;
  margin-left: 3vw;
}

.top-nav {
  display: flex;
  /* align-self: center; */
  flex-direction: column;
  z-index: 20;
  width: 100%;
  text-align: right;
  margin-right: 6vw;
  color: white;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
}

/* sub menu? */

nav ul li a {
  color: #b4aea7;
}

.show-items {
  display: flex;
  flex-direction: column;
}

nav .fa {
  font-size: 2.4rem;
  color: b4aea7;
  margin-top: 2.8vh;
}

header a.button {
  display: none;
}

a.active {
  font-weight: 600;
  text-decoration: underline;
}

/*  ================    MAIN PAGE MOBILE - HERO     ==================== */

.hero {
  display: flex;
  background-image: url("images/Dunlop Main Dark.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100svh;
}

.hero::after {
  content: "";
  background: rgba(29, 29, 29, 0.292);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.hero > * {
  z-index: 10;
}

.hero .container {
  display: flex;
  align-items: center;
}

/*  ================    MAIN-MOBILE - FEATURES     ==================== */

.features .container {
  display: flex;
  flex-direction: column;
  gap: 7vh;
}

/*  ================    MAIN-MOBILE - ABOUT     ==================== */

.about-1 {
  padding-bottom: 0;
}

.about img {
  width: 100%;
}

.about a {
  font-size: 2.4rem;
  display: inline;
  text-decoration: underline;
}

.about a.cta {
  text-decoration: none;
}

/*  text-decoration: underline; *
  font-weight: 400;
}

.about h3 {
  line-height: 1rem;
} */

/*  ================    MAIN-MOBILE - CTA     ==================== */

.cta .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7vh;
}

a.cta {
  font-size: 2.4rem;
  line-height: 1rem;
  color: #bd871f;
  border: 2px solid #bd871f;
  padding: 20px 33px;
}

.cta-wrapper {
  display: flex;
  justify-content: center;
  max-width: 90%;
  padding-top: 0;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 10vh;
}

/*  ================    MAIN-MOBILE - CONTACT     ==================== */

.contact-map {
  max-width: 90%;
  padding-top: 0;
}

.contact-info a {
  text-decoration: underline;
}

/*  ================    MAIN-MOBILE - FOOTER     ==================== */

footer .container {
  padding-bottom: 10px;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer a {
  line-height: 1rem;
}

footer img {
  width: 150px;
  margin-left: -16px;
  padding: 3% 0;
}

.copyright {
  border-top: 1px solid #b4aea7;
}

.copyright p {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 200;
}

/* =====================  ABOUT PAGE - MOBILE  ===================== */

.about-container {
  display: flex;
  flex-direction: column;
  gap: 7vh;
  padding-bottom: 0;
}

.about-content-left {
  padding-bottom: 10vh;
}

.about-content-right {
  display: flex;
  flex-direction: column;
  gap: 7vh;
}

.about-content-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7vh;
  padding-bottom: 0;
}

.trade-links {
  display: flex;
  justify-content: space-evenly;
}

.trade-icon {
  width: 16%;
}

/* =====================  PROJECTS PAGE - MOBILE  ===================== */

.project-link {
  width: 90vw;
  margin-bottom: 5vh;
  position: relative;
}

.projects h2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
  background-color: #292929e0;
  padding: 5px 10px 5px 20px;
}

.projects h2.short-title {
  width: 72vw;
}

.projects img {
  height: 220px;
  object-fit: cover;
  width: 100%;
  margin-bottom: -10px;
}

.projects-gallery {
  padding-bottom: 3vh;
}

.list {
  overflow-x: auto;
}

caption {
  font-family: "Poppins", sans-serif;
  font-size: 3.6rem;
  text-align: left;
  padding-bottom: 20px;
}

thead {
  color: #bd871f;
  background-color: #404040;
}

tr:nth-child(even) {
  background-color: #404040;
}

th {
  padding: 10px 5px;
}

td {
  line-height: 1.8rem;
  padding: 10px 5px;
}

tfoot {
  background-color: #404040;
  font-size: 1.4rem;
  text-align: center;
}

/* =====================  OUR PROMISE PAGE - MOBILE  ===================== */

.promise-text {
  margin-top: 10vh;
}

.promise-container {
  padding-bottom: 7vh;
}

.promise-heading .cta-wrapper {
  display: none;
}
/* =====================  CONTACT PAGE - MOBILE  ===================== */

.contact h2 {
  margin-bottom: 2vh;
}

.contact-title {
  padding-bottom: 0;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0;
  padding-bottom: 10vh;
}

address {
  font-style: initial;
  color: #b4aea7;
}

/* ===============
   BUTTONS
   =============== */

input[type="submit"] {
  font-family: "Mandali", sans-serif;
  background-color: #292929;
  font-size: 2.4rem;
  outline: none;
  border: none;
  cursor: pointer;
  display: inline;
  text-decoration: underline;
  color: inherit;
  margin-left: -5px;
}

input[type="submit"]:hover {
  color: #bd871f;
}

/* ===============
     STRUCTURE
     =============== */

.wrapper-form {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 10vh;
}

/* ===============
     FORM CONTROLS
     =============== */

input,
textarea {
  font-size: 2rem;
  color: #b4aea7;
  outline: none;
}

input[type="text"],
input[type="email"],
textarea {
  font-family: "Mandali", sans-serif;
  width: 100%;
  padding: 6px 0 2px 0;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #292929;
  border: none;
  border-bottom: 2px solid #b4aea7;
}

textarea {
  min-height: 150px;
}

.label {
  font-size: 2.4rem;
}

.label-required {
  font-size: 1.4rem;
  color: #b0815f;
}

input:required {
  border-bottom: 2px solid #b0815f;
}

.wrapper-form {
  font-size: 2rem;
}

/*  ***** START OF DESKTOP SECTIONS *****  */

/* Large devices (desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  section {
    width: 100%;
  }

  .divider {
    width: 33%;
  }

  .container {
    padding: 10vh 0;
  }

  a:hover {
    color: #bd871f;
    text-decoration: underline;
    font-weight: 400;
  }

  .about a:hover {
    color: #bd871f;
    /*  text-decoration: underline; */
    font-weight: 400;
  }

  footer a:hover {
    color: #bd871f;
    font-weight: 400;
  }

  /* ================  DESKTOP - HEADER SECTION =================== */

  header {
    align-items: center;
    justify-content: space-between;
  }

  header img {
    margin-left: 3%;
  }

  .top-nav {
    width: auto;
    padding-right: 0;
    margin-right: 8%;
  }

  nav .toggle {
    display: none;
  }

  #nav-items {
    display: flex;
    gap: 40px;
  }

  /* ================  DESKTOP - HERO SECTION =================== */

  .container {
    max-width: 1200px;
  }

  h1 {
    width: 80%;
    font-size: 9.8rem;
    line-height: 12rem;
  }

  /* ================  DESKTOP - FEATURES SECTION =================== */

  .features .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  h2 {
    font-size: 6.5rem;
    line-height: 8rem;
  }

  .features img {
    width: 40%;
    margin: 0;
  }

  /* ================  DESKTOP - ABOUT SECTION =================== */

  .about-1 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12vh;
    padding-bottom: 0;
  }

  .about-2 {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    padding-top: 0;
  }

  .about img {
    width: 60%;
    margin: 0;
    margin-right: 40px;
  }

  .body-links {
    justify-content: flex-end;
  }

  .about a {
    font-size: 3.5rem;
  }

  /* ================  DESKTOP - HOME PAGE - CTA SECTION =================== */

  .cta .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .cta h3 {
    font-size: 4rem;
    line-height: 5.2rem;
    width: 60%;
  }

  a.cta {
    font-size: 3.5rem;
    padding: 30px 60px;
    text-decoration: none;
    transition-property: border, color, background-color;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  footer img {
    width: 250px;
  }

  .copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }

  .territory {
    width: 50%;
  }

  /* ================  DESKTOP - ABOUT PAGE =================== */

  .about-container {
    padding-top: 25vh;
  }

  .about-content-top {
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    margin-bottom: 10vh;
  }

  .about h1.title {
    position: absolute;
    left: 0;
    top: 0;
  }

  .about-content-main {
    display: flex;
    gap: 10%;
  }

  .about-content-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .about-content-right {
    display: flex;
    flex-direction: column;
    flex: 0 0 40%;
    gap: 40px;
  }

  .about-content-bottom {
    align-items: flex-start;
    padding-bottom: 0;
  }

  .about p {
    line-height: 3.5rem;
  }

  .trade-links {
    max-width: 100%;
  }

  .icon-1 {
    position: relative;
    top: 10px;
    left: 20px;
  }

  .icon-2 {
    position: relative;
    top: 7px;
    left: 20px;
  }

  .icon-3 {
    position: relative;
    top: 15px;
    left: 22px;
  }

  .icon-4 {
    position: relative;
    top: 10px;
    left: 20px;
  }

  .trade-icon {
    width: 25%;
  }

  .about a:hover {
    color: #bd871f;
  }

  a.cta:hover {
    color: #292929;
    background-color: #bd871f;
    border: 2px solid #bd871f;
  }
  /*
  .about iframe {
    width: 100%;
    filter: grayscale(80%);
  }
  */

  .about iframe:hover {
    filter: none;
  }

  .cta-wrapper {
    display: flex;
    justify-content: left;
    padding: 0;
  }

  /* ================  DESKTOP - PROJECTS PAGE =================== */

  .projects-gallery {
    padding-bottom: 0;
  }

  .projects-list {
    padding: 10vh 0;
  }

  .project-link {
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
  }

  .project-link img {
    width: 700px;
    height: 515px;
    object-fit: cover;
  }

  .project-link h2 {
    position: absolute;
    max-width: 45%;
    left: 450px;
    padding: 10px 20px 10px 30px;
  }

  table {
    width: 100%;
    font-size: 2rem;
  }

  caption {
    font-family: "Poppins", sans-serif;
    font-size: 8rem;
    padding-bottom: 40px;
  }

  td {
    padding: 14px 5px;
  }

  /* ================  DESKTOP - OUR PROMISE PAGE =================== */

  .promise .cta-wrapper {
    display: none;
  }

  .promise-heading .cta-wrapper {
    display: flex;
    justify-content: left;
    padding: 7vh 0;
  }

  .promise h1.title {
    width: 100%;
  }

  .promise-content {
    display: flex;
    gap: 20%;
  }
  .promise-text {
    margin-top: 0;
    flex: 0 0 40%;
  }

  /* ================  DESKTOP - CONTACT PAGE =================== */

  .contact-map {
    padding-top: 0;
  }

  .contact-title {
    padding-bottom: 0;
  }

  .contact-container {
    display: flex;
    gap: 10%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .address-wrapper {
    width: 40%;
  }

  .wrapper-form {
    width: 50%;
    margin-top: 0;
    font-size: 2.4rem;
  }

  input,
  select,
  textarea {
    font-size: 2.4rem;
  }

  textarea {
    min-height: 230px;
  }

  input[type="submit"] {
    font-size: 3.5rem;
  }
}
